body{
    background-color: #30314d;
    color: #fff;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

/* top header */
#level-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 8vh 0 0;
}

/* flex btns' container */
.container{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 75vh;
    justify-content: center;
}

.btn{
    border-radius: 10%;
    height: 175px;
    width: 175px;
}

.turquoise{
    background-color: #55CBCD;
}

.brownish{
    background-color: #CBAACB;
}

.yellowish{
    background-color: #F6EAC2;
}

.peachy{
    background-color: #FF96BA;
}

/* btns' pressing animation */
.pressed{
    background-color: grey;
    box-shadow: 0 0 20px white;
}

/* footer's <p> */
.p-footer{
    margin: 4px 0 0;
}

/* links */
  a:link, a:visited{
    color: #eef28a;
    text-decoration: none;
}
  
a:hover, a:active, a:focus{
    color: #eef28a;
    cursor: pointer;
}

.game-over{
    background-color: red;
    opacity: 0.8;
}

/* decreases font and btns size on mobiles */
@media (max-width: 600px) {
    #level-title{ 
        font-size: 1.4rem;
    }
    
    .btn{
        height: 125px;
        width: 125px;
    }
}
